html {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #aadeff;

	display: grid;
}

/* .grid-container {
	grid-template-areas:
		'title title title'
		'send-message send-message calendar'
		'feed feed calendar';
} */

nav.main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav.main-nav ul li {float: left;}

nav.main-nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

/* nav.topnav { grid-area: nav; }
.title { grid-area: title; }
.calendar { grid-area: calendar; }
.message-box { grid-area: send-message; }
.feed { grid-area: feed; } */

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}

div.feed-message {
	border: 1px solid black;
	width: auto;
	margin: 20px 5%;
}
